:root {
    --color-primary: rgba(8, 166, 228, 1);
    --color-primary-shadow: rgba(7, 172, 230, 0.16);
    --color-redish: rgba(251, 59, 100, 1);
    --color-green: rgba(85, 223, 180, 1);
    --color-black: rgba(0, 0, 0, 1);
    --color-grey: rgba(165, 165, 165, 1);
    --color-light-grey: rgba(247, 247, 247, 1);
    --color-white: rgba(255, 255, 255, 1);
    --color-light-shadow: rgba(0, 0, 0, 0.16);
    --raleway: "Raleway", sans-serif;
    --open-sans: "Open Sans", sans-serif;
    --light: 300;
    --regular: 400;
    --bold: 700;
    --extra-bold: 800;
}
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    text-transform: uppercase;
}
.container {
    margin: 0 auto;
    width: 1352px;
    /*position: relative;*/
}
.main-content {
    width: 100vw;
}
.title {
    font-family: var(--raleway);
    font-size: 36px;
    font-weight: var(--regular);
    color: var(--color-black);
    line-height: 42px/*1.2em*/;
}
.txt {
    font-family: var(--open-sans);
    font-size: 16px;
    font-weight: var(--regular);
    color: var(--color-black);
    line-height: 22px/*1.3em*/;
}
                                                /* HEADER */
.header-bg {
    width: 100vw;
    background-color: var(--color-white);
    max-height: 70px;
    box-shadow: 0 3px 6px var(--color-light-shadow);
}
.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: .25rem solid transparent;
    padding: 1rem 0;
    max-height: 70px;
}
.header-logo {
    font-family: var(--raleway);
    font-weight: var(--light);
    font-size: 32px;
    line-height: 37px/*1.15em*/;
    color: var(--color-primary);
    text-align: left;
}
.header-menu {
    display: flex;
    gap: 6rem;
}
.header-menu-txt {
    font-family: var(--open-sans);
    font-weight: var(--bold);
    font-size: 11px;
    letter-spacing: 3.3px/*.3em*/;
    line-height: 15px/*1.4em*/;
    text-align: center;
    color: var(--color-grey);
    cursor: pointer;
    padding: 1.7rem 0;
}
.header-menu-txt:hover {
    color: var(--color-black);
    border-bottom: .25rem solid var(--color-primary);
}
                                                    /* SECTION OPEN */
.section-open-box {
    position: relative;
    margin-top: 8.1rem/*130px*/;
}
.open-content {
    position: relative;
}
.open-title {
    font-family: var(--raleway);
    font-size: 49px;
    font-weight: var(--regular);
    line-height: 57px/*1.16em*/;
    color: var(--color-black);
    text-align: center;
    letter-spacing: 0;
}
.open-txt {
    text-align: center;
    margin-top: 1.25rem/*20px*/;
}
.open-btn-box {
    display: flex;
    justify-content: center;
    margin-top: 2.3rem/*37px*/;
}
.open-btn {
    display: inline-block;
    font-family: var(--open-sans);
    font-size: 16px;
    font-weight: var(--bold);
    line-height: 22px;
    color: var(--color-white);
    letter-spacing: 0;
    background-color: var(--color-primary);
    border-radius: 40px;
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
    padding: 22px 157px;
    cursor: pointer;
}
.open-btn:hover {
    box-shadow: 0 0 14px var(--color-redish);
}
.open-img-box {
    position: relative;
    width: 100%;
}
.open-img {
    position: absolute;
    width: 100%;
}
                                                    /* SECTION STATISTIC */
.section-statistic-box {
    background-color: var(--color-white);
    box-shadow: 0 -5px 80px var(--color-light-shadow);
}
.statistic-column-box {
    display: flex;
    justify-content: space-evenly;
}
.statistic-title {
    margin-top: 31.75rem/*508px*/;
    text-align: center;
    padding-top: 6.25rem/*100px*/;
}
.statistic-txt-box {
    margin-top: 6.3rem/*101px*/;
    margin-bottom: 7.5rem/*px*/;
    height: 167px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.statistic-img-box {
    position: relative;
    width: 100%;
    height: 63px;
}
.statistic-img-box-first::before,
.statistic-img-box-second::before,
.statistic-img-box-last::before {
    content: "";
    width: 63px;
    height: 63px;
    position: absolute;
    top: 0;
    left: calc(50% - 31.5px);
    border-radius: 50%;
    border: none;
}
.statistic-img-box-first::before {
    background-color: var(--color-redish);
}
.statistic-img-box-second::before {
    background-color: var(--color-primary);
}
.statistic-img-box-last::before {
    background-color: var(--color-green);
}
.statistic-txt-img {
     position: absolute;
}
.statistic-txt-img-first {
    top: 0;
    right: 17px;
}
.statistic-txt-img-second {
    top: calc(50% - 18px);
    right: 15px;
}
.statistic-txt-img-last {
    top: 5px;
    right: 0;
}
.statistic-txt-number {
    margin-top: .87rem/*14px*/;
    font-family: var(--raleway);
    font-size: 20px;
    font-weight: var(--extra-bold);
    text-align: center;
    line-height: 24px;
    letter-spacing: .3em;
    color: var(--color-black);
}
.statistic-txt-txt {
    margin-top: 1.2rem/*19px*/;
    font-family: var(--raleway);
    font-size: 17px;
    font-weight: var(--regular);
    text-align: center;
    line-height: 20px;
    letter-spacing: 0;
    color: var(--color-grey);
}
                                                        /* SECTION BENEFITS */
.section-benefits-box {
    background-color: var(--color-light-grey);
}
.benefits-container {
    width: 1124px;
    margin: 0 auto;
}
.benefits-content-box {
    background-color: var(--color-white);
    display: flex;
    justify-content: space-between;
    margin: 40px;
}
.benefit-box-tree {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}
.benefits-txt-box-tree {
    background-color: var(--color-white);
}
.benefits-img-box-tree {
    background-color: var(--color-green);
}
