:root {
    --color-primary: rgba(8, 166, 228, 1);
    --color-primary-shadow: rgba(7, 172, 230, 0.16);
    --color-redish: rgba(251, 59, 100, 1);
    --color-green: rgba(85, 223, 180, 1);
    --color-blue: rgba(7, 172, 230, 1);
    --color-black: rgba(0, 0, 0, 1);
    --color-grey: rgba(165, 165, 165, 1);
    --color-light-grey: rgba(247, 247, 247, 1);
    --color-white: rgba(255, 255, 255, 1);
    --color-light-shadow: rgba(0, 0, 0, 0.16);
    --color-benefits-border-box: rgba(232, 233, 237, 1);
    --color-contact-input-border: rgba(149, 152, 154, 1);
    --raleway: "Raleway", sans-serif;
    --open-sans: "Open Sans", sans-serif;
    --light: 300;
    --regular: 400;
    --bold: 700;
    --extra-bold: 800;
}
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    text-transform: uppercase;
}
.container {
    margin: 0 auto;
    width: 1352px;
    /*position: relative;*/
}
.main-content {
    width: 100vw;
}
.title {
    font-family: var(--raleway);
    font-size: 36px;
    font-weight: var(--regular);
    color: var(--color-black);
    line-height: 42px/*1.2em*/;
}
.txt {
    font-family: var(--open-sans);
    font-size: 16px;
    font-weight: var(--regular);
    color: var(--color-black);
    line-height: 22px/*1.3em*/;
}
.logo {
    font-family: var(--raleway);
    font-weight: var(--light);
    color: var(--color-primary);
    text-align: left;
}
                                                /* HEADER */
.header-bg {
    width: 100vw;
    background-color: var(--color-white);
    max-height: 70px;
    box-shadow: 0 3px 6px var(--color-light-shadow);
}
.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: .25rem solid transparent;
    padding: 1rem 0;
    max-height: 70px;
}
.header-logo {
    font-size: 32px;
    line-height: 37px/*1.15em*/;
}
.header-menu {
    display: flex;
    gap: 6rem;
}
.header-menu-txt {
    font-family: var(--open-sans);
    font-weight: var(--bold);
    font-size: 11px;
    letter-spacing: 3.3px/*.3em*/;
    line-height: 15px/*1.4em*/;
    text-align: center;
    color: var(--color-grey);
    cursor: pointer;
    padding: 1.7rem 0;
}
.header-menu-txt:hover {
    color: var(--color-black);
    border-bottom: .25rem solid var(--color-primary);
}
                                                    /* SECTION OPEN */
.section-open-box {
    position: relative;
    margin-top: 8.1rem/*130px*/;
}
.open-content {
    position: relative;
}
.open-title {
    font-family: var(--raleway);
    font-size: 49px;
    font-weight: var(--regular);
    line-height: 57px/*1.16em*/;
    color: var(--color-black);
    text-align: center;
    letter-spacing: 0;
}
.open-txt {
    text-align: center;
    margin-top: 1.25rem/*20px*/;
}
.open-btn-box {
    display: flex;
    justify-content: center;
    margin-top: 2.3rem/*37px*/;
}
.open-btn {
    display: inline-block;
    font-family: var(--open-sans);
    font-size: 16px;
    font-weight: var(--bold);
    line-height: 22px;
    color: var(--color-white);
    letter-spacing: 0;
    background-color: var(--color-primary);
    border-radius: 40px;
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
    padding: 22px 157px;
    cursor: pointer;
}
.open-btn:hover {
    box-shadow: 0 0 14px var(--color-redish);
}
.open-img-box {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 100vw;
    height: 594px;
    margin-top: 0;
}
.open-img {
    position: absolute;
    bottom: 0;
    width: 100%;
}
                                                    /* SECTION STATISTIC */
.section-statistic-box {
    background-color: var(--color-white);
    box-shadow: 0 -5px 80px var(--color-light-shadow);
}
.statistic-column-box {
    display: flex;
    justify-content: space-evenly;
}
.statistic-title {
    text-align: center;
    padding-top: 6.25rem/*100px*/;
}
.statistic-txt-box {
    margin-top: 6.3rem/*101px*/;
    margin-bottom: 7.5rem/*px*/;
    height: 167px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.statistic-img-box {
    position: relative;
    width: 100%;
    height: 63px;
}
.statistic-img-box-first::before,
.statistic-img-box-second::before,
.statistic-img-box-last::before {
    content: "";
    width: 63px;
    height: 63px;
    position: absolute;
    top: 0;
    left: calc(50% - 31.5px);
    border-radius: 50%;
    border: none;
}
.statistic-img-box-first::before {
    background-color: var(--color-redish);
}
.statistic-img-box-second::before {
    background-color: var(--color-primary);
}
.statistic-img-box-last::before {
    background-color: var(--color-green);
}
.statistic-txt-img {
     position: absolute;
}
.statistic-txt-img-first {
    top: 0;
    right: 17px;
}
.statistic-txt-img-second {
    top: calc(50% - 18px);
    right: 15px;
}
.statistic-txt-img-last {
    top: 5px;
    right: 0;
}
.statistic-txt-number {
    margin-top: .87rem/*14px*/;
    font-family: var(--raleway);
    font-size: 20px;
    font-weight: var(--extra-bold);
    text-align: center;
    line-height: 24px;
    letter-spacing: .3em;
    color: var(--color-black);
}
.statistic-txt-txt {
    margin-top: 1.2rem/*19px*/;
    font-family: var(--raleway);
    font-size: 17px;
    font-weight: var(--regular);
    text-align: center;
    line-height: 20px;
    letter-spacing: 0;
    color: var(--color-grey);
}
                                                        /* SECTION BENEFITS */
.section-benefits-box {
    background-color: var(--color-light-grey);
    padding: 6.5rem/*105px*/ 0;
}
.benefits-container {
    width: 1124px;
    margin: 0 auto;
}
.benefits-content-box {
    background-color: var(--color-white);
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.3rem/*37px*/;
    border: 1px solid var(--color-benefits-border-box);
    border-radius: 5px;
}
.benefits-content-title {
    text-align: left;
}
.benefits-content-txt {
    text-align: left;
    margin: 1.9rem/*30px*/ auto 3.1rem/*50px*/ auto;
}
.benefits-txt-box {
    position: relative;
}
.benefits-txt-box-first::after,
.benefits-txt-box-second::after,
.benefits-txt-box-last::after {
    content: "";
    width: 328px;
    height: 4px;
    position: absolute;
}
.benefits-txt-box-first {
    margin: 91px auto 91px 35px;
    max-width: 416px;
 }
.benefits-txt-box-first::after {
    background-color: var(--color-redish);
}
.benefits-img-box-first {
    width: 386px;
    height: 219px;
    margin: 113px 117px 38px auto;
    position: relative;
}
.benefits-img-box-first::before {
    content: "";
    width: 181px;
    height: 181px;
    background-color: var(--color-redish);
    border-radius: 41px;
    transform: rotate(45deg);
    position: absolute;
    left: 210px;
    bottom: 70px;
    z-index: 0;
}
.benefits-content-img-first {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
}
.benefits-content-box-second {
    flex-direction: row-reverse;
}
.benefits-txt-box-second {
    max-width: 416px;
    margin: 69px 20px 71px auto;
}
.benefits-txt-box-second::after {
    background-color: var(--color-primary);
}
.benefits-img-box-second{
    width: 426px;
    height: 328px;
    margin: 29px auto 13px 70px;
    position: relative;
}
.benefits-content-img-second {
    width: 100%;
    height: 100%;
    position: absolute;
}
.benefits-img-box-second::before {
    content: "";
    width: 320px;
    height: 320px;
    background-color: var(--color-primary);
    border-radius: 50%;
    position: absolute;
    bottom: 25px;
}
.benefits-content-container-last {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    border: none;
    margin-bottom: 0;
}
.benefits-content-box-last {
    width: 623px;
    background-color: var(--color-white);
    border: 1px solid var(--color-benefits-border-box);
    border-radius: 5px;
}
.benefits-txt-box-last {
    background-color: var(--color-white);
    width: 554px;
    margin: 69px 34px 71px 35px;
}
.benefits-txt-box-last::after {
     background-color: var(--color-green);
}
.benefits-img-container-last {
    background-color: var(--color-green);
    width: 440px;
    height: 370px;
    position: relative;
    border: 1px solid var(--color-benefits-border-box);
    border-radius: 5px;
}
.benefits-img-box-last {
    width: 296px;
    height: 208px;
    margin: 98px 82px 64px 62px;
    position: absolute;
}
.benefits-content-img-last {
    width: 100%;
    height: 100%;
    position: absolute;
}
                                                        /* SECTION PRICING */
.pricing-container {
    width: 1266px;
    margin: 100px auto 155px auto;
}
.pricing-title {
    text-align: center;
    margin-bottom: 50px;
}
.pricing-column-box {
    display: flex;
    justify-content: space-between;
    gap: 59px;
}
.pricing-content-box {
    width: 372px;
    border-radius: 18px;
    position: relative;
}
.pricing-content-box-first {
    border: 1px solid var(--color-redish);
}
.pricing-content-box-second {
    border: 1px solid var(--color-primary);
}
.pricing-content-box-last {
    border: 1px solid var(--color-green);
}
.pricing-content-box * {
    text-align: center;
}
.pricing-content-title {
    font-family: var(--raleway);
    font-weight: var(--bold);
    font-size: 20px;
    line-height: 24px;
    color: var(--color-black);
    margin: 34px auto 14px auto;
}
.pricing-price {
    font-family: var(--open-sans);
    font-weight: var(--light);
    font-size: 46px;
    line-height: 64px;
}
.pricing-price-first {
    color: var(--color-redish);
}
.pricing-price-second {
    color: var(--color-primary);
    position: relative;
}
.pricing-price-last {
    color: var(--color-green);
    position: relative;
}
.pricing-price-second::after,
.pricing-price-last::after {
    content: "Limited offer";
    font-family: var(--raleway);
    font-weight: var(--bold);
    font-size: 12px;
    line-height: 14px;
    color: var(--color-black);
    position: absolute;
    bottom: -19px;
    left: 50%;
    transform: translate(-50%);
}
.pricing-list {
    margin: 69px auto 55px auto;
}
.pricing-list-txt {
    font-family: var(--open-sans);
    font-weight: var(--regular);
    font-size: 14px;
    line-height: 41px;
    color: var(--color-black);
    position: relative;
}
.pricing-list-txt::before {
    content: url(../assets/Checkmark-1.svg);
    display: inline-block;
    /*background-image: url("../assets/Checkmark-1.svg");
    background-size: cover;*/
    border: 1px solid var(--color-green);
    border-radius: 2px;
    width: 11px;
    height: 11px;
    position: absolute;
    top: 11px;
    transform: translate(-22px);
}
.pricing-list-first li:nth-last-child(2)::before,
.pricing-list-first li:last-child::before {
    content: url(../assets/Close.svg);
    display: inline-block;
    background-size: cover;
    border: 1px solid var(--color-green);
    border-radius: 2px;
    width: 11px;
    height: 11px;
    position: absolute;
    top: 11px;
    transform: translate(-22px);
}
.pricing-list-second li:last-child::before {
    content: url(../assets/Close.svg);
}
.pricing-btn {
    display: inline-block;
    padding: 16px 57px;
    border-radius: 23px;
    font-family: var(--open-sans);
    font-weight: var(--bold);
    font-size: 13px;
    line-height: 18px;
    text-transform: none;
    color: var(--color-white);
    position: absolute;
    bottom: -25px;
    left: calc(50% - 75px);
}
.pricing-btn-first {
    background-color: var(--color-redish);
}
.pricing-btn-second {
    background-color: var(--color-blue);
}
.pricing-btn-last {
    background-color: var(--color-green);
}
.pricing-content-box-second {
    transform: scale(1.1, 1.1);
    box-shadow: 5px 10px 27px var(--color-primary-shadow);
}
.pricing-btn-second {
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
}
                                                        /* SECTION CONTACT */
.section-contact-box {
    padding-bottom: 59px;
}
.contact-box-container {
    width: 896px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.contact-column-left {
    display: flex;
    flex-direction: column;
}
.contact-txt {
    text-align: left;
    margin: 22px 0 40px 0;
}
.contact-data-txt {
    color: var(--color-grey);
}
.contact-email-txt {
    margin-right: 20px;
}
.contact-column-right {
    display: flex;
    flex-direction: column;
    width: 440px;
}
.contact-form-box {
    display: flex;
    flex-direction: column;
}
.contact-txt {
    text-align: left;
}
.contact-label {
    font-family: var(--open-sans);
    font-weight: var(--bold);
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 3.28px;
    text-align: left;
    color: var(--color-primary);
    text-transform: uppercase;
}
.contact-input {
    border: none;
    border-bottom: 1px solid var(--color-contact-input-border);
    width: 100%;
    height: 42px;
    font-family: var(--open-sans);
    font-weight: var(--regular);
    font-size: 16px;
    line-height: 22px;
    color: var(--color-black);
}
.contact-checkbox-txt {
    padding-left: 34px;
}
.contact-checkbox {
    margin-top: 30px;
    display: flex;
    /*gap: 34px;*/
    position: relative;
    cursor: pointer;
}
.contact-checkbox-input {
    outline: none;
    border: none;
    width: 0;
    height: 0;
    position: absolute;
    left: -99999999px;
}
.contact-checkbox-txt::before {
    content: "";
    width: 24px;
    height: 24px;
    border: 1px solid var(--color-contact-input-border);
    border-radius: 4px;
    background-color: var(--color-white);
    position: absolute;
    left: 0;
}
.contact-checkbox-input:checked + span::before {
    background-color: transparent;
    background-image: url(../assets/Checkmark.svg);
    background-repeat: no-repeat;
    background-size: 12px 11px;
    background-position: center;
}
.contact-btn {
    margin-top: 20px;
    display: inline-block;
    align-self: flex-end;
    padding: 20px 97px;
    background-color: var(--color-primary);
    border: none;
    border-radius: 35px;
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
}
.contact-btn a {
    color: var(--color-white);
    text-transform: none;
    font-family: var(--open-sans);
    font-weight: var(--bold);
    font-size: 13px;
    line-height: 18px;
}
                                                    /* FOOTER */
.footer-box {
    width: 100vw;
    padding-bottom: 17px;
    background-color: var(--color-light-grey);
    box-shadow: 0 -5px 40px var(--color-light-shadow);
}
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-logo-box {
    display: flex;
    flex-direction: column;
}
.footer-logo {
    margin: 20.5px 0 6.5px 0;
    font-family: var(--raleway);
    font-weight: var(--light);
    font-size: 26px;
    line-height: 30px;
    text-align: left;
    color: var(--color-primary);
}
.footer-rights {
    font-size: 11px;
    line-height: 15px;
    color: var(--color-grey);
    text-align: left;
}
.footer-link-box {
    display: flex;
    gap: 20px;
}
.footer-link-box img {
    width: 24px;
    height: 24px;
}
