:root {
  --color-primary: rgba(8, 166, 228, 1);
  --color-primary-shadow: rgba(7, 172, 230, 0.16);
  --color-redish: rgba(251, 59, 100, 1);
  --color-green: rgba(85, 223, 180, 1);
  --color-blue: rgba(7, 172, 230, 1);
  --color-black: rgba(0, 0, 0, 1);
  --color-grey: rgba(165, 165, 165, 1);
  --color-light-grey: rgba(247, 247, 247, 1);
  --color-white: rgba(255, 255, 255, 1);
  --color-light-shadow: rgba(0, 0, 0, 0.16);
  --color-benefits-border-box: rgba(232, 233, 237, 1);
  --color-contact-input-border: rgba(149, 152, 154, 1);
  --raleway: "Raleway", sans-serif;
  --open-sans: "Open Sans", sans-serif;
  --light: 300;
  --regular: 400;
  --bold: 700;
  --extra-bold: 800;
}
