.header__bg {
    width: 100vw;
    background-color: $color-white;
    height: 70px;
    box-shadow: 0 3px 6px $color-light-shadow;
}

.header__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid transparent;
    height: 100%;
}

.header__logo {
    font-size: 2rem;
    line-height: 1.15em;
    margin-left: 10px;
}

.hamburger__label {
    display: flex;
    align-items: center;
}

.hamburger__check {
    opacity: 0;
    width: 0;
    height: 0;
    cursor: pointer;
}

.hamburger__icon {
    display: block;
    width: 20px;
    height: 2px;
    margin-right: 15px;
    background-color: $color-blue;
    position: relative;

    &::before,
    &::after {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: $color-blue;
        position: absolute;
    }
    &::before {
        top: -5px;
    }
    &::after {
        bottom: -5px;
    }
}

//.hamburger__check,
//.hamburger__icon {
//    position: absolute;
//    top: 29px;
//    right: 30px;
//}

.hamburger__check:checked + .hamburger__icon,
.hamburger__check:checked + .hamburger__icon::before,
.hamburger__check:checked + .hamburger__icon::after {
    background-color: red;
}

.hamburger__check:checked + .header__menu {
    transform: translateY(0);
}

.header__menu {
    width: 100%;
    padding-left: 25px;
    position: absolute;
    left: 0;
    top: 80px;
    transform: translateY(-200%);
    box-shadow: 0 3px 6px $color-light-shadow;
    z-index: 3;
}

.header__menu__txt {
    @include text-font(11px, $bold);
    letter-spacing: .3em;
    color: $color-grey;
    line-height: 2em;

    &:hover {
        color: $color-black;
    }
}

@media (min-width: 700px) {
    .hamburger__label {
        display: none;
    }

    .header__menu {
        position: static;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5.937rem;
        box-shadow: none;
        transform: none;
    }

    .header__menu__txt {
        @include text-font(11px, $bold);
        letter-spacing: .3em;
        text-align: center;
        color: $color-grey;
        cursor: pointer;

        &:hover {
            color: $color-black;
            border-bottom: 4px solid $color-primary;
            padding-bottom: 27px;
        }
    }
}
