.section__statistic__box {
  width: 100vw;
  padding: 3.125rem 0;
  background-color: $color-white;
  box-shadow: 0 -5px 80px $color-light-shadow;
  //border: 2px solid red;
  margin-top: 50px;
}

.statistic__content__box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.statistic__column__box {
  display: flex;
  justify-content: space-evenly;
}

.statistic__title {
  text-align: center;
  padding-top: 6.25rem /*100px*/;
}

.statistic__txt__box {
  margin-top: 6.3rem /*101px*/;
  margin-bottom: 7.5rem /*px*/;
  height: 167px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statistic__img__box {
  position: relative;
  width: 100%;
  height: 63px;
}

.statistic__img__box__first::before,
.statistic__img__box__second::before,
.statistic__img__box__last::before {
  content: "";
  width: 63px;
  height: 63px;
  position: absolute;
  top: 0;
  left: calc(50% - 31.5px);
  border-radius: 50%;
  border: none;
}

.statistic__img__box__first::before {
  background-color: var(--color-redish);
}

.statistic__img__box__second::before {
  background-color: var(--color-primary);
}

.statistic__img__box__last::before {
  background-color: var(--color-green);
}

.statistic__txt__img {
  position: absolute;
}

.statistic__txt__img__first {
  top: 0;
  right: 17px;
}

.statistic__txt__img__second {
  top: calc(50% - 18px);
  right: 15px;
}

.statistic__txt__img__last {
  top: 5px;
  right: 0;
}

.statistic__txt__number {
  margin-top: .87rem /*14px*/;
  font-family: var(--raleway);
  font-size: 20px;
  font-weight: var(--extra-bold);
  text-align: center;
  line-height: 24px;
  letter-spacing: .3em;
  color: var(--color-black);
}

.statistic__txt__txt {
  margin-top: 1.2rem /*19px*/;
  font-family: var(--raleway);
  font-size: 17px;
  font-weight: var(--regular);
  text-align: center;
  line-height: 20px;
  letter-spacing: 0;
  color: var(--color-grey);
}

@media (min-width: 700px) {

}

