.section__open__box {
  height: calc(100vh - 70px);
}

.open__content {
  width: 100%;
  height: 100px;
}

.open__title {
  @include title-font(3.062rem, $regular);
  text-align: center;
  letter-spacing: 0;
  padding-top: 6.25rem;
}

.open__txt {
   text-align: center;
   padding-top: 1.25rem;
 }

.open__btn__box {
  display: flex;
  justify-content: center;
  padding-top: 1.74rem;
}

.open__btn {
  @include text-font(1rem, $bold);
  display: inline-block;
  color: $color-btn-txt;
  letter-spacing: 0;
  text-transform: none;
  background-color: $color-primary;
  border-radius: 40px;
  box-shadow: 5px 10px 14px $color-primary-shadow;
  padding: 1.375em 5.75em;
  cursor: pointer;

  &:hover {
    transform: scale(1.03);
    transition: .2s;
  }

  @media (min-width: 700px) {
    padding: 1.375em 9.812em;
  }
}

.open__img__box {
  background-image: url('../assets/Background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  bottom: -15px;
  width: 100vw;
  height: calc(100vh - 434px);
  margin-top: 3.187rem;

  @media (min-width: 1024px) {
    height: calc(100vh - 396px);
  }
}
