.section__statistic__box {
  width: 100%;
  padding: 3.125rem 0;
  background-color: $color-white;
  box-shadow: 0 -5px 80px $color-light-shadow;
  border: 2px solid red;
}

.statistic__content__box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.statistic__title {
  text-align: center;
}

.statistic__column__box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid blue;

    @media (min-width: 700px) {
      flex-direction: row;
      justify-content: space-evenly;
  }
}

.statistic__txt__box {
  margin-top: 1.562rem;
  //height: 167px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid green;

  @media (min-width: 700px) {
    margin: 6.3rem auto 7.5rem auto;
  }
}

.statistic__img__box {
  position: relative;
  width: 100%;
  height: 63px;
}

.statistic__img__box__first::before,
.statistic__img__box__second::before,
.statistic__img__box__last::before {
  content: "";
  width: 63px;
  height: 63px;
  position: absolute;
  top: 0;
  left: calc(50% - 31.5px);
  border-radius: 50%;
  border: none;
}

.statistic__img__box__first::before {
  background-color: $color-redish;
}

.statistic__img__box__second::before {
  background-color: $color-primary;
}

.statistic__img__box__last::before {
  background-color: $color-green;
}

.statistic__txt__img {
  position: absolute;
}

.statistic__txt__img__first {
  top: 0;
  right: 17px;
}

.statistic__txt__img__second {
  top: calc(50% - 18px);
  right: 15px;
}

.statistic__txt__img__last {
  top: 5px;
  right: 0;
}

.statistic__txt__number {
  @include title-font(20px, $extra-bold);
  margin-top: .87rem;
  line-height: 1.2em;
  letter-spacing: .3em;
}

.statistic__txt__txt {
  @include title-font(17px, $regular);
  margin-top: 1.2rem;
  text-align: center;
  line-height: 1.176em;
  color: $color-grey;
}


