.section-contact-box {
  padding-bottom: 59px;
}
.contact-box-container {
  width: 896px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.contact-column-left {
  display: flex;
  flex-direction: column;
}
.contact-txt {
  text-align: left;
  margin: 22px 0 40px 0;
}
.contact-data-txt {
  color: var(--color-grey);
}
.contact-email-txt {
  margin-right: 20px;
}
.contact-column-right {
  display: flex;
  flex-direction: column;
  width: 440px;
}
.contact-form-box {
  display: flex;
  flex-direction: column;
}
.contact-txt {
  text-align: left;
}
.contact-label {
  font-family: var(--open-sans);
  font-weight: var(--bold);
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 3.28px;
  text-align: left;
  color: var(--color-primary);
  text-transform: uppercase;
}
.contact-input {
  border: none;
  border-bottom: 1px solid var(--color-contact-input-border);
  width: 100%;
  height: 42px;
  font-family: var(--open-sans);
  font-weight: var(--regular);
  font-size: 16px;
  line-height: 22px;
  color: var(--color-black);
}
.contact-checkbox-txt {
  padding-left: 34px;
}
.contact-checkbox {
  margin-top: 30px;
  display: flex;
  /*gap: 34px;*/
  position: relative;
  cursor: pointer;
}
.contact-checkbox-input {
  outline: none;
  border: none;
  width: 0;
  height: 0;
  position: absolute;
  left: -99999999px;
}
.contact-checkbox-txt::before {
  content: "";
  width: 24px;
  height: 24px;
  border: 1px solid var(--color-contact-input-border);
  border-radius: 4px;
  background-color: var(--color-white);
  position: absolute;
  left: 0;
}
.contact-checkbox-input + span:hover::before {
  box-shadow: 0 0 14px var(--color-contact-input-border);
}
.contact-checkbox-input:checked + span::before {
  background-color: transparent;
  background-image: url(../assets/Checkmark.svg);
  background-repeat: no-repeat;
  background-size: 12px 11px;
  background-position: center;
}
.contact-btn {
  margin-top: 20px;
  display: inline-block;
  align-self: flex-end;
  padding: 20px 97px;
  background-color: var(--color-primary);
  border: none;
  border-radius: 35px;
  box-shadow: 5px 10px 14px var(--color-primary-shadow);
}
.contact-btn:hover {
  box-shadow: 0 0 14px var(--color-primary);
}
.contact-btn a {
  color: var(--color-white);
  text-transform: none;
  font-family: var(--open-sans);
  font-weight: var(--bold);
  font-size: 13px;
  line-height: 18px;
}