.pricing__container {
  margin: 3.5rem 0;

  @media (min-width: 1124px) {
    width: 1266px;
    //margin: 100px auto 155px auto;
  }
}

.pricing__title {
  text-align: center;
  margin-bottom: .875rem;

  @media (min-width: 1124px) {
    margin-bottom: 50px;
  }
}
.pricing__column__box {
  justify-content: space-between;
  //margin-bottom: 3.375rem;
  gap: 70px;

  @media (min-width: 1124px) {
    gap: 59px;
  }
}

.pricing__content__box {
  border-radius: 18px;
  position: relative;
  //margin-bottom: 3.375rem;
  text-align: center;

  &__first {
    border: 1px solid $color-redish;
  }

  &__second {
    border: 1px solid $color-primary;
  }

  &__last {
    border: 1px solid $color-green;
  }

  @media (min-width: 1124px) {
    width: 372px;

    
  }
}

.pricing__content__title {
  @include title-font(1.25rem, $bold);

  @media (min-width: 1124px) {
    margin: 34px auto 14px auto;
  }
}

.pricing__price {
  @include text-font(2.875rem, $light);

  &__first {
    color: $color-redish;
  }

  &__second {
    color: $color-primary;
    position: relative;
  }

  &__last {
    color: $color-green;
    position: relative;
  }

  &__second::after,
  &__last::after {
    content: "Limited offer";
    @include title-font(.75rem, $bold);
    position: absolute;
    bottom: -19px;
    left: 50%;
    transform: translate(-50%);
  }
}

.pricing__list {
  margin: 69px auto 55px auto;
}
.pricing__list__txt {
  @include text-font(.875rem, $regular);
  line-height: 41px;
  position: relative;

  &::before {
    content: url(../../assets/Ckechmark-1.svg);
    display: inline-block;
    width: 11px;
    height: 11px;
    position: absolute;
    top: 0;
    transform: translate(-21px);
  }
}

.pricing__list__first li {
  &:nth-last-child(2)::before,
  &:last-child::before {
    content: url(../../assets/Close.svg);
  }
}

.pricing__list__second li:last-child::before {
  content: url(../../assets/Close.svg);
}

.pricing__btn {
  @include text-font(.8125rem, $bold);
  display: inline-block;
  padding: 16px 57px;
  border-radius: 23px;
  text-transform: none;
  color: $color-white;
  position: absolute;
  bottom: -25px;
  left: calc(50% - 75px);
}
.pricing__btn__first {
  background-color: $color-redish;

  &: hover {
    box-shadow: 0 0 14px $color-redish;
  }
}

.pricing__btn__second {
  background-color: $color-blue;
  box-shadow: 5px 10px 14px $color-primary-shadow;

  &:hover {
    box-shadow: 0 0 14px $color-blue;
  }
}

.pricing__btn__last {
  background-color: $color-green;

  &:hover {
    box-shadow: 0 0 14px $color-green;
  }
}

.pricing__content__box__second {
  transform: scale(1.1, 1.1);
  box-shadow: 5px 10px 27px $color-primary-shadow;
}

