.pricing__container {
  margin: 3.5rem 0;

  @media (min-width: 1266px) {
    width: 1266px;
  }
}

.pricing__title {
  text-align: center;
  margin-bottom: .875rem;

  @media (min-width: 750px) {
    margin-bottom: 50px;
  }
}
.pricing__column__box {
  justify-content: center;
  gap: 70px;

  @media (min-width: 750px) {
    gap: 59px;
    justify-content: space-evenly;
  }
}

.pricing__content__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 293px;
  height: 251px;
  border-radius: 18px;
  position: relative;

  @media (min-width: 750px) {
    display: block;
    text-align: center;
    max-width: 372px;
    height: 461px;
  }

  &__first {
    border: 1px solid $color-second;

  }

  &__second {
    border: 1px solid $color-primary;
    box-shadow: 5px 10px 27px $color-primary-shadow;
    transform: scale(1.1, 1.1);
  }

  &__last {
    border: 1px solid $color-third;
  }
}

.pricing__content__title {
  @include title-font(1.25rem, $bold);
  text-align: center;

  @media (min-width: 750px) {
    margin: 34px auto 14px auto;
  }
}

.pricing__price {
  @include text-font(2.875rem, $light);
  text-align: center;

  &__first {
    color: $color-second;
  }

  &__second {
    color: $color-primary;
    position: relative;
  }

  &__last {
    color: $color-third;
    position: relative;
  }

  &__second::after,
  &__last::after {
    content: "Limited offer";
    @include title-font(.75rem, $bold);
    position: absolute;
    bottom: -19px;
    left: 50%;
    white-space: nowrap;
    transform: translate(-50%);
  }
}

.pricing__list {

  @media (min-width: 750px) {
    margin: 69px auto 55px auto;
  }
}

.pricing__list__txt {
  @include text-font(.875rem, $regular);
  line-height: 35px;
  position: relative;

  @media (min-width: 750px) {
    line-height: 41px;
  }

  &::before {
    content: url("../assets/Ckechmark-1.svg");
    display: inline-block;
    width: 11px;
    height: 11px;
    position: absolute;
    top: 0;
    transform: translate(-21px);
  }
}

.pricing__list__first li {
  &:nth-last-child(2)::before,
  &:last-child::before {
    content: url("../assets/Close.svg");
  }
}

.pricing__list__second li:last-child::before {
  content: url("../assets/Close.svg");
}

.pricing__btn {
  @include text-font(.8125rem, $bold);
  display: inline-block;
  padding: 16px 57px;
  border-radius: 23px;
  text-transform: none;
  color: $color-btn-txt;
  position: absolute;
  bottom: -25px;
  left: calc(50% - 75px);
}

.pricing__btn__first {
  background-color: $color-second;

  &:hover {
    box-shadow: 0 0 14px $color-second;
  }
}

.pricing__btn__second {
  background-color: $color-pricing-btn-second;
  box-shadow: 5px 10px 14px $color-primary-shadow;

  &:hover {
    box-shadow: 0 0 14px $color-pricing-btn-second;
  }
}

.pricing__btn__last {
  background-color: $color-third;

  &:hover {
    box-shadow: 0 0 14px $color-third;
  }
}
